body, header
{
   margin: 0px, 0px, 0px, 0px;
}

header
{
   width:100%;
   clear: both;
}

body, h1, h2, textarea, li
{
   font-family: Charis SIL, Doulos SIL, Times New Roman, Gentium, DejaVu Sans;
   font-size: 1em;
}

#controls
{
   margin: 5px 5px 0px 0px;
}

#derivation, #metadata
{
   margin: 5px 5px 0px 315px;
}

h1, h2
{
   margin: 0px 0px 0px 0px;
}

h1
{
   text-align: center;
   height: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #FFFFFF;
   background-color: #000000;
}

h2
{
   width:100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

controls h1
{
   width: 300px;
}

textarea
{
   width: 300px;
   height: 100px;
}

table, th, td
{
   border: 0px solid black;
}

table
{
   border-collapse:collapse;
   margin: 5px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
}

td
{
   padding-left: 1em;
   padding-right: 1em;
}

.control
{
   width: 300px;
}


tr.ur td 
{
   border: 1px solid black;
   background-color: #EEEEEE;;
}

tr.sr td
{
   border: 1px solid black;
   background-color: #EEEEEE;;
}

ul.sortable
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}

ul.sortable li
{
   margin: 0;
   font-size: 0.8em;
   height: 1.5em;
   font-weight: normal;
}

.phonetic
{
   font-family: "Charis SIL", "Doulos SIL", "Times New Roman", "Gentium Plus", "DejaVu Sans";
   font-size: 1em;
}

.placeholder
{
   color: red;
   font-size: 1em;
   text-align: center;
}

#metadata div
{
   font-weight: bold;
}

#metadata div span
{
   font-weight: normal;
}