body, #header {
  margin: 0px, 0px, 0px, 0px; }

#header {
  width: 100%;
  clear: both;
  height: 90px; }

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body, h1, h2, textarea, li, .phonetic {
  font-family: DejaVu Sans, Lucida Grande, FreeSans, Arial, Menlo, Charis SIL, Gentium Plus, STIXGeneral, Doulos SIL, Monaco, Times New Roman, DejaVu Serif, sans, serif;
  font-size: 0.9em;
  font-weight: normal; }

h1, h2 {
  margin: 0px 0px 0px 0px; }

h1 {
  text-align: center;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  background-color: #000000; }

h2 {
  width: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  padding: 2px 2px 2px 2px; }

textarea {
  width: 300px;
  height: 100px; }

table, th, td {
  border: 0px solid black; }

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px 5px 5px 5px; }

td {
  padding-left: 1em;
  padding-right: 1em; }

controls h1, .control {
  width: 300px; }

tr.ur td {
  border-top: 2px solid black;
  border-bottom: 1px solid black; }

tr.sr td {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.sortable-parent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.sortable-item {
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
  margin: 1px 0 1px 0;
  width: 295px; }

#controls {
  float: left;
  margin: 5px 5px 0px 0px;
  width: 300px; }

#derivation, #metadata {
  margin: 5px 5px 0px 315px; }

#metadata {
  border-bottom: 1px solid black; }

#metadata div {
  font-weight: bold; }

#metadata div span {
  font-weight: normal; }

#alphabuttons {
  width: 300px;
  text-align: center; }

#files, #alphavars {
  width: 300px; }

#evaluate, #validate {
  width: 145px; }

#evaluate {
  float: right; }
