/* Variables */

$phfonts: DejaVu Sans, Lucida Grande, FreeSans, Menlo, Charis
   SIL, Gentium Plus, STIXGeneral, Doulos SIL, Monaco, Times New
   Roman, DejaVu Serif, sans, serif; 
$zeros: 0px, 0px, 0px, 0px;

/* Mixins */

@mixin no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin ph-font($size: 0.9em) {
   font: {
      family: $phfonts;
      size: 0.9em;
      weight: normal;
   }
}

@mixin fancy-font($size: 0.9em) {
   font: {
      family: Metrophobic;
      size: 1em;
      weight: normal;
   }
}

@mixin main-col {
   margin: 5px 5px 0px 315px;
}

/* Document divisions */

body, html {
   margin: 0px;
   padding: 0px;
   color: #000000;
}

#wrap {
   width:960px;
   margin:0 auto;
}

button {
   @include fancy-font;
}

#header {
   margin: 0px;
   width:100%;
   clear: both;
   height: 90px;
   img {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
}

#controls {
   float: left;
   margin: 5px 5px 0px 0px;
   width: 300px;
   textarea { 
      font-family: $phfonts;
      width: 300px; 
      height: 100px; 
   }
   
}

#derivation {
   @include main-col;
   th, td {
      border: 0px solid black;
      padding-left: 1em;
      padding-right: 1em;
   }
   tr.ur td {
      border-top: 2px solid black;
      border-bottom: 1px solid black;
   }
   tr.sr td {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
   }
   table {
      border: 0px solid black;
      border-collapse:collapse;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 5px 5px 5px 5px;
   }
}

#metadata {
   @include main-col;
   @include fancy-font;
   border-bottom: 1px solid black;
   div {
      font-weight: bold;
      span {
	 font-weight: normal;
      }
   }
}

// headings

h1 {
   margin: 0px;
   @include fancy-font;
   text-align: center;
   height: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #FFFFFF;
   background-color: #000000;
}

h2 {
   @include no-select;
   @include fancy-font;
   margin: 0px;
   width:100%;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

// Buttons

#evaluate, #validate {
   width: 49%;
}

#evaluate {
   float: right;
}

// Classes

.control {
   width: 300px;
}

.fancy {
   @include fancy-font;
}

.phonetic {
   @include ph-font;
}

.sortable-parent {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}

.sortable-item {
    font-size: 0.9em;
    padding: 5px 5px 5px 5px;
    margin: 1px 0 1px 0;
    width: 295px;
}

